<div class="container">
    <div class="linkDivColorRed">
        <%= link_to "Go Main page", admin_owner_path(@dog.owner.id) %>
    </div>
    <div class="linkDivColorGreen">

        <%= link_to "fed dog", new_admin_dog_meal_path({:dog_id => @dog.id}), method: :get  %>
    </div>
    
    <% if @dog.dog_image.attachment != nil %> 
        <h3><%= image_tag(@dog.dog_image, class: "index-img") %></h3>  
        <h3> Name: <%= @dog.name %></h3> 
        <h3> Age: <%= @dog.age %></h3> 
        <h3> Color: <%= @dog.color %></h3> 
        <h3> Weight: <%= @dog.weight %></h3>
        <h3> Owner: <%= @dog.owner.first_name %></h3>
    <% else %> 
        <h3> Name: <%= @dog.name %></h3> 
        <h3> Age: <%= @dog.age %></h3> 
        <h3> Color: <%= @dog.color %></h3> 
        <h3> Weight: <%= @dog.weight %></h3>
        <h3> Owner: <%= @dog.owner.first_name %></h3>
    <% end %> 

    <%= link_to "Delete dog //", admin_owner_dog_path({:owner_id => @dog.owner_id, :id => @dog.id}), method: :delete %>
    <%= link_to "Edit dog", edit_admin_owner_dog_path({:owner_id => @dog.owner_id, :id => @dog.id}), method: :get  %>
    <h4>********************************************************************* </h4>
    <h4>**************************** FED RECORD  ************************** </h4>
    <h4>********************************************************************* </h4>
     
    <% @meals.each do |meal| %>

        <h3>Brand: <%= meal.brand %></h3> 
        <h3>Quantity: <%= meal.quantity %></h3> 
        <h3>Finished: <%= meal.finished %></h3> 
        <h3>Finished on: <%= meal.finished_on %></h3>     
        <%= link_to "   more detail ", admin_dog_meal_path(@dog.id, meal.id) , class: "moreDetail"%>
        <%= link_to "   Delete meal    ", admin_dog_meal_path(@dog.id, meal.id), method: :delete , class: "deleteLink"%>
        <%= link_to "   Edit meal   ", edit_admin_dog_meal_path({:dog_id => @dog.id, :id => meal}), method: :get , class: "editLink"%> 
        <h4>********************************************************************* </h4>
        <h4>********************************************************************* </h4>
     

    <% end %>
    
</div>