<div class="container">
    <%= link_to "Go Main page", owners_path %>
    <h3><%= image_tag(@owner.owner_image, class: "index-img") %></h3>  
    <h3> First Name: <%= @owner.first_name %></h3> 
    <h3> Last Name: <%= @owner.last_name %></h3> 
    <h3> Email: <%= @owner.email %></h3> 
    <h3> Phone number: <%= @owner.phone_number %></h3>

    <%= link_to "Delete owner //", owner_path(@owner), method: :delete %>
    <%= link_to "Edit owner", edit_owner_path(@owner) %>
    
</div>