
<div class="index-container">
    <%= button_to('Create New Dog!', new_dog_path, method: :get ) %>

    
    <%  @dogs.each do |dog| %>
    <div class="index-tile">
        <h2><%= link_to "more detail", dog %></h2>
        <h3><%= image_tag(dog.dog_image, class: "index-img") %></h3>  
        <h3> Name: <%= dog.name %></h3> 
        <h3> Age: <%= dog.age %></h3> 
        <h3> Color: <%= dog.color %></h3> 
        <h3> Weight: <%= dog.weight %></h3>
        <h3> Owner: <%= dog.owner.first_name %></h3> 
  
        <%= button_to "Delete Dog", dog_path(dog), method: :delete %>
        <%= button_to "Edit Dog", edit_dog_path(dog), method: :get %>        
    </div>
    <%  end  %>
</div>