<div class="index-container">
    <%  @owners.each do |owner| %>
    <div class="index-tile">
        <% if owner.owner_image.attachment != nil %> 
            <h3><%= image_tag(owner.owner_image, class: "index-img") %></h3>  
            <h3>First Name: <%= owner.first_name %></h3> 
            <h3>Last Name: <%= owner.last_name %></h3> 
            <h3>Email: <%= owner.email %></h3> 
            <h3>Phone number: <%= owner.phone_number %></h3> 
        <% else %>
            <h3>First Name: <%= owner.first_name %></h3> 
            <h3>Last Name: <%= owner.last_name %></h3> 
            <h3>Email: <%= owner.email %></h3> 
            <h3>Phone number: <%= owner.phone_number %></h3> 
        <% end %>
    </div>
    <%  end  %>
</div>