
<div class="index-container">
  
    <%  @meals.each do |meal| %>
    <div class="index-tile">
        <h2><%= link_to "more detail", meal %></h2>
        <h3>Brand: <%= meal.brand %></h3> 
        <h3>Quantity: <%= meal.quantity %></h3> 
        <h3>Finished: <%= meal.finished %></h3> 
        <h3>Finished on: <%= Time.zone.parse("#{meal.updated_at}") %></h3> 
  
    </div>
    <%  end  %>
</div>