<div class="container">
    <%= link_to "Go Main page", meals_path %>
    <h3>Brand: <%= @meal.brand %></h3> 
    <h3>Quantity: <%= @meal.quantity %></h3> 
    <h3>Finished: <%= @meal.finished %></h3> 
    <h3>Finished on: <%= @meal.updated_at %></h3> 

    <%= link_to "Delete meal //", meal_path(@meal), method: :delete %>
    <%= link_to "Edit meal", edit_meal_path(@meal) %>
    
    
</div>