<div class="container">
    <%= link_to "Go Main page", admin_owner_dog_path(@owner_id, @dog_id) %>
    <h3>Brand: <%= @meal.brand %></h3> 
    <h3>Quantity: <%= @meal.quantity %></h3> 
    <h3>Finished: <%= @meal.finished %></h3> 
    <% if @meal.finished == true %> 
        <h3>Finished on: <%= @meal.updated_at %></h3>     
    <% end %>
    
</div>